@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #57B609;
  --second-color: #28D799;
}

body,html{    
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/*  
##################################################
#                  LOADING                       #
##################################################
*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}

.loader-container {
  position: relative;
  width: 140px;
  height: 140px;
}

.pulse-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid var(--third-color);
  animation: pulse 1.5s infinite ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }

  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}


